.sky-mega-menu li:hover > a,
.sky-mega-menu li.current > a {
	background: #782ec4;
	color: #fff;
}


/**/
/* forms */
/**/
.sky-mega-menu form .input:hover input,
.sky-mega-menu form .textarea:hover textarea {
	border-color: #ad60da;
}
.sky-mega-menu form .button {
	background-color: #782ec4;	
}
.sky-mega-menu form .input input:focus,
.sky-mega-menu form .textarea textarea:focus {
	border-color: #782ec4;
}